<!DOCTYPE html>
<html>

	<head>
		<title>轮播图管理</title>
		<meta name="referrer" content="no-referrer">
		<Link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
		<Link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
		<Link rel='stylesheet' href='/stylesheets/ionicons.min.css' />
		<Link rel='stylesheet' href='/admin-lte/dist/css/AdminLTE.min.css' />
		<Link rel='stylesheet' href='/admin-lte/dist/css/skins/skin-blue.min.css' />
		<style>

		</style>
	</head>

	<body class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper">

			<%- include('./header.ejs') %>

			<%- include('./menu.ejs') %>

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<h1>
                                                                 添加轮播图
                    </h1>
					<ol class="breadcrumb">
						<li>
							<a href="#"><i class="fa fa-dashboard"></i> Level</a>
						</li>
						<li class="active">Here</li>
					</ol>
				</section>

				<!-- Main content -->
				<section class="content">
					<div class="box box-info">
						<div class="box-header with-border">
							<h3 class="box-title">Horizontal Form</h3>
						</div>
						<!-- /.box-header -->
						<!-- form start -->
						<form class="form-horizontal" enctype="multipart/form-data" method="post" action='/addBannerAction'>
							<div class="box-body">
								<div class="form-group">
									<label for="bannerid" class="col-sm-2 control-label">轮播图id</label>

									<div class="col-sm-10">
										<input type="text" class="form-control" name="bannerid" id="bannerid" placeholder="轮播图id">
									</div>
								</div>
								<div class="form-group">
									<label for="bannerimg" class="col-sm-2 control-label">上传图片</label>

									<div class="col-sm-10">
										<input type="file" class="form-control" name="bannerimg" id="bannerimg">
									</div>
								</div>
								<div class="form-group">
									<label for="" class="col-sm-2 control-label">展示图片</label>

									<div class="col-sm-10">
										<img src=" " style="width:100px;height:auto;" />
									</div>
								</div>
								<div class="form-group">
									<label for="bannerurl" class="col-sm-2 control-label">链接地址</label>

									<div class="col-sm-10">
										<input type="url" class="form-control" name="bannerurl" id="bannerurl" placeholder="链接地址">
									</div>
								</div>
							</div>
							<!-- /.box-body -->
							<div class="box-footer">
								<div class="form-group">
									<label for="castsalt" class="col-sm-2 control-label sr-only">alt</label>

									<div class="col-sm-10">
										<input type="submit" class="btn btn-info" value="添加" />
									</div>
								</div>
							</div>
							<!-- /.box-footer -->
						</form>
					</div>
				</section>
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->

			<%- include('./footer.ejs') %>

			<%- include('./sidebar.ejs') %>
		</div>
	</body>
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
	<script src="/javascripts/app.min.js"></script>
	<script>
	</script>

</html>